# pika==1.2.0
fastapi
uvicorn

mysql-connector-python
sqlalchemy

python-jose
Authlib

pymysql
httpx
sse_starlette

itsdangerous
python-multipart
starlette
geoalchemy2

openai
pika

Jinja2
weasyprint
# pillow
python-dotenv
qrcode
segno

# shapely
# pytest
# pytest-asyncio
# prometheus-fastapi-instrumentator
# elasticsearch==8.1.1
# scylla-driver