# pika==1.2.0
fastapi
uvicorn
mysql-connector-python
sqlalchemy
python-jose
Authlib
pymysql
httpx
sse_starlette
itsdangerous
python-multipart
starlette
# shapely
geoalchemy2
# pytest
# pytest-asyncio
# prometheus-fastapi-instrumentator
# elasticsearch==8.1.1
# scylla-driver